  PORT=3002                                                                                                                                                                                 
  REDIS_HOST=localhost                                      
  REDIS_PORT=6379                                                                                                                                                                           
  RESEND_API_KEY=
  RESEND_FROM=onboarding@resend.dev                                                                                                                                                         
  INTERNAL_API_KEY=