PORT=3002

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

RESEND_API_KEY=
RESEND_FROM=noreply@resend.dev

INTERNAL_API_KEY=

APP_URL=http://localhost:3001


# Backend webhook 
BACKEND_WEBHOOK_URL=http://localhost:3000/webhooks/notifications
BACKEND_WEBHOOK_SECRET=